<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shorten your URL!</title>
    <!-- <link rel="stylesheet" types="text/css" href="style.css" media="screen"/> -->
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>