<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URL Shortening Web Service</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Customized CSS -->
    <link rel="stylesheet" type="text/css" href="/result.css">

</head>

<body>

<div class="container">

        <div class="logo" align="center">
            <br><br> <h2 style="color:#0fad00">Success</h2>
            <img src="http://www.wholesalinginc.com/wp-content/uploads/2017/10/success-icon-10.png" width="100" height="100">
            <br>
        </div>
    <div class="result" align="center">
        <br>
        <h3 style="font-size:30px;color:#5C5C5C;">The URL you want to tranform is <a href= <%= originalUrl %> > <%= originalUrl %> </a> </h3>
        <br>
        <h3 style="font-size:30px;color:#5C5C5C;">The shortened URL is <a href= <%= shortUrl %> > <%= shortUrl %> </a> </h3>
    </div>
</div>

<div class='c'>
    <a class='btn' href='/'>BACK TO MAIN</a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1Mqu

</body>

</html>