<% include partials/header %>

<h2>URL you want to tranform is <a href= <%= originalUrl %> > <%= originalUrl %> </a> </h2>
<h2>Shortened URL is <a href= <%= shortUrl %> > <%= shortUrl %> </a> </h2>


<% include partials/footer %>