<% include partials/header %>

<h2>Top 5 Clicked URLs!</h2>
<table id="topClickTable">
    <tbody>
    <tr><th>URL</th><th>Count</th></tr>
    
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    </tbody>
</table>
<h2>Return to <a href="/">Home Page</a></h2>

<% include partials/footer %>