img {
    border-radius: 50%;
}
li {
    font-size: 20px;
    line-height: 30px;
}
input[type=text] {
    border: 2px solid #aaa;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    transation: .4s;
}
input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow:0 0 8px 0 dodgerblue;
}
button{
    background-color: white;
    border-color: grey;
    color: black;
    padding: 0px 15px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.div3 {
    border-top: darkgray 1px solid;
    border-bottom: darkgray 1px solid;
    line-height: 60px;
    background-image:url("http://file03.16sucai.com/2016/10/1100/16sucai_p20161007016_050.JPG");
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    border-radius: 20px;
    height: 400px;
}

header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 150px 0;
}
